<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div id="bq-offcanvas-chart-hbar" class="bq-ml-auto bq-mr-auto">

    <div class="bq-offcanvas-chart-hbar-line bq-offcanvas-chart-hbar-line-first">
        <div class="bq-offcanvas-chart-hbar-line-title"><p th:text="${productGraphCurrent.name}"></p></div>
        <div class="bq-offcanvas-chart-hbar-line-content">
            <div class="bq-offcanvas-chart-hbar-line-bar" th:style="|height: 3px; background-color: rgba(86, 125, 250); width: calc(${productGraphCurrent.score}% * 0.8);|"></div>
            <p th:style="|left: calc(${productGraphCurrent.score}% * 0.8 + 2%);|" th:text="${productGraphCurrent.score}"></p>
        </div>
    </div>

    <div th:each="product:${productGraph}" class="bq-offcanvas-chart-hbar-line">
        <div class="bq-offcanvas-chart-hbar-line-title"><p th:text="${product.name}"></p></div>
        <div class="bq-offcanvas-chart-hbar-line-content">
            <div class="bq-offcanvas-chart-hbar-line-bar" th:style="|width: calc(${product.score}% * 0.8);|"></div>
            <p th:style="|left: calc(${product.score} * 0.8 + 2)%;|" th:text="${product.score}"></p>
        </div>
    </div>

</div>

<div id="bq-offcanvas-product-list" class="bq-ml-auto bq-mr-auto">

    <div th:each="product:${productCompare.cosmeticList}" class="bq-offcanvas-product bq-offcanvas-product-recommend">
        <div class="bq-offcanvas-product-goods">
            <div class="bq-offcanvas-product-goods-image"><img th:src="${product.image}" alt=""></div>
            <div class="bq-offcanvas-product-goods-data">
                <div class="bq-offcanvas-product-goods-data-inner">
                    <p class="bq-offcanvas-product-goods-data-brand" th:text="${product.brand}"></p>
                    <p class="bq-offcanvas-product-goods-data-name" th:text="${product.name}"></p>
                    <div class="bq-offcanvas-product-goods-data-etc">
                        <p class="bq-offcanvas-product-goods-data-price">[[${product.priceDiscount}]]원</p>
                        <p class="bq-offcanvas-product-goods-data-volume">/[[${product.volume}]]</p>
                        <img class="bq-offcanvas-product-goods-data-star" src="/image/product/star_blue.svg" alt="Rating">
                        <p class="bq-offcanvas-product-goods-data-review">[[${product.rating}]]([[${product.countReview}]])</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bq-offcanvas-product-score">
            <p class="bq-offcanvas-product-score-main">[[${product.score}]]<span>점</span></p>
            <p class="bq-offcanvas-product-score-matching">매칭도 <span th:text="${product.matching}"></span>점</p>
        </div>
    </div>
    
</div>


</html>